*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f8fb;
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background:#198754;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:45px;
    color:#0d6efd;
}

.hero p{
    margin:20px;
    font-size:22px;
}

button{
    background:#198754;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}